@model IEnumerable<EntitySample.Models.Books>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.sales)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.author)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.instore)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.shipping)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.bestseller)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pub_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SYS_TS)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.sales)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.author)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.instore)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.shipping)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.bestseller)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pub_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SYS_TS)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.book_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.book_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.book_id })
        </td>
    </tr>
}

</table>
